.leftHud {
    width: 20%;
    background-color: black;
    float: left;;
}
.rightHud {
    background-color: black;
    width: 20%;
    float: right;
}
.grid {
    display:grid;
    gap: 3%;
    grid-template-columns: repeat(5, 8fr);
    width: 50%;
}
.grid > div {
    padding: 10px;
    background-color: #ccc;;
}
.cell {
    width:10%;
    height: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.left {
    width: 20%;
}